[submodule "boost/config"]
	path = boost/config
	url = https://github.com/boostorg/config.git
[submodule "boost/graph"]
	path = boost/graph
	url = https://github.com/boostorg/graph.git
[submodule "boost/range"]
	path = boost/range
	url = https://github.com/boostorg/range.git
[submodule "boost/unordered"]
	path = boost/unordered
	url = https://github.com/boostorg/unordered.git
[submodule "boost/functional"]
	path = boost/functional
	url = https://github.com/boostorg/functional.git
[submodule "boost/type_traits"]
	path = boost/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "boost/fusion"]
	path = boost/fusion
	url = https://github.com/boostorg/fusion.git
[submodule "boost/mpl"]
	path = boost/mpl
	url = https://github.com/boostorg/mpl.git
[submodule "boost/preprcessor"]
	path = boost/preprcessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "boost/preprocessor"]
	path = boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "boost/iterator"]
	path = boost/iterator
	url = https://github.com/boostorg/iterator.git
[submodule "boost/detail"]
	path = boost/detail
	url = https://github.com/boostorg/detail.git
[submodule "boost/static_assert"]
	path = boost/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "boost/utility"]
	path = boost/utility
	url = https://github.com/boostorg/utility.git
[submodule "boost/move"]
	path = boost/move
	url = https://github.com/boostorg/move.git
[submodule "boost/tuple"]
	path = boost/tuple
	url = https://github.com/boostorg/tuple.git
[submodule "boost/assert"]
	path = boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "boost/concept_check"]
	path = boost/concept_check
	url = https://github.com/boostorg/concept_check.git
[submodule "boost/integer"]
	path = boost/integer
	url = https://github.com/boostorg/integer.git
[submodule "boost/smart_ptr"]
	path = boost/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
[submodule "boost/multi_index"]
	path = boost/multi_index
	url = https://github.com/boostorg/multi_index.git
[submodule "boost/exception"]
	path = boost/exception
	url = https://github.com/boostorg/exception.git
[submodule "boost/property_map"]
	path = boost/property_map
	url = https://github.com/boostorg/property_map.git
[submodule "boost/foreach"]
	path = boost/foreach
	url = https://github.com/boostorg/foreach.git
[submodule "boost/serialization"]
	path = boost/serialization
	url = https://github.com/boostorg/serialization.git
[submodule "boost/math"]
	path = boost/math
	url = https://github.com/boostorg/math.git
[submodule "boost/optional"]
	path = boost/optional
	url = https://github.com/boostorg/optional.git
[submodule "boost/bind"]
	path = boost/bind
	url = https://github.com/boostorg/bind.git
[submodule "boost/typeof"]
	path = boost/typeof
	url = https://github.com/boostorg/typeof.git
[submodule "boost/parameter"]
	path = boost/parameter
	url = https://github.com/boostorg/parameter.git
[submodule "boost/bimap"]
	path = boost/bimap
	url = https://github.com/boostorg/bimap.git
[submodule "boost/multi_array"]
	path = boost/multi_array
	url = https://github.com/boostorg/multi_array.git
[submodule "boost/conversion"]
	path = boost/conversion
	url = https://github.com/boostorg/conversion.git
[submodule "boost/array"]
	path = boost/array
	url = https://github.com/boostorg/array.git
[submodule "boost/tti"]
	path = boost/tti
	url = https://github.com/boostorg/tti.git
[submodule "boost/function_types"]
	path = boost/function_types
	url = https://github.com/boostorg/function_types.git
[submodule "boost/regex"]
	path = boost/regex
	url = https://github.com/boostorg/regex.git
[submodule "boost/disjoint_sets"]
	path = boost/disjoint_sets
	url = https://github.com/boostorg/disjoint_sets.git
[submodule "boost/test"]
	path = boost/test
	url = https://github.com/boostorg/test.git
[submodule "boost/numeric_conversion"]
	path = boost/numeric_conversion
	url = https://github.com/boostorg/numeric_conversion.git
[submodule "boost/timer"]
	path = boost/timer
	url = https://github.com/boostorg/timer.git
[submodule "boost/predef"]
	path = boost/predef
	url = https://github.com/boostorg/predef.git
[submodule "boost/container"]
	path = boost/container
	url = https://github.com/boostorg/container.git
[submodule "boost/io"]
	path = boost/io
	url = https://github.com/boostorg/io.git
[submodule "boost/algorithm"]
	path = boost/algorithm
	url = https://github.com/boostorg/algorithm.git
[submodule "boost/heap"]
	path = boost/heap
	url = https://github.com/boostorg/heap.git
[submodule "boost/align"]
	path = boost/align
	url = https://github.com/boostorg/align.git
[submodule "boost/core"]
	path = boost/core
	url = https://github.com/boostorg/core.git
[submodule "boost/throw_exception"]
	path = boost/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "boost/lexical_cast"]
	path = boost/lexical_cast
	url = https://github.com/boostorg/lexical_cast.git
[submodule "boost/ublas"]
	path = boost/ublas
	url = https://github.com/boostorg/ublas.git
[submodule "boost/program_options"]
	path = boost/program_options
	url = https://github.com/boostorg/program_options.git
[submodule "boost/any"]
	path = boost/any
	url = https://github.com/boostorg/any.git
[submodule "boost/type_index"]
	path = boost/type_index
	url = https://github.com/boostorg/type_index.git
[submodule "boost/function"]
	path = boost/function
	url = https://github.com/boostorg/function.git
[submodule "boost/tokenizer"]
	path = boost/tokenizer
	url = https://github.com/boostorg/tokenizer.git
[submodule "boost/system"]
	path = boost/system
	url = https://github.com/boostorg/system.git
[submodule "boost/asio"]
	path = boost/asio
	url = https://github.com/boostorg/asio.git
[submodule "boost/spirit"]
	path = boost/spirit
	url = https://github.com/boostorg/spirit.git
[submodule "boost/iostreams"]
	path = boost/iostreams
	url = https://github.com/boostorg/iostreams.git
[submodule "boost/filesystem"]
	path = boost/filesystem
	url = https://github.com/boostorg/filesystem.git
[submodule "boost/numeric_bindings"]
	path = boost/numeric_bindings
	url = http://git.tiker.net/trees/boost-numeric-bindings.git
[submodule "boost/random"]
	path = boost/random
	url = https://github.com/boostorg/random.git
